/* Variables CSS */
:root {
    /* Colors */
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --blue: hsl(210, 81%, 55%);

    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);

    /* Font and Typography */
    --body-font: 'Manrope', sans-serif;

    --font-size-h1: 0.825rem;
    --font-size-text: 1.75rem;

    /* Font Weight */
    --font-extrabold: 800;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Css */
*::selection {
    background-color: var(--grayish-blue);
    color: #fff;
}

body {
    background: var(--dark-blue);

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: var(--body-font);
    font-size: var(--font-size-normal);
    font-weight: var(--font-extrabold);
}

img {
    display: block;
    max-width: 100%;
}

p {
    font-size: var(--font-size-text);
    line-height: 1.5;
    color: var(--light-cyan);
    padding-bottom: 14px;
}

h1 {
    font-size: var(--font-size-h1);
}

/* Card Styles */
.card {
    background: var(--dark-grayish-blue);
    text-align: center;

    padding: 3rem 3rem 3rem;
    border-radius: 13px;

    position: relative;

    max-width: 550px;
    margin: 16px;
}

.card h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--neon-green);
    padding-bottom: 14px;
}

.card button {
    border: none;
    background: var(--neon-green);
    padding: 18px;
    border-radius: 50%;
    cursor: pointer;

    position: absolute;
    left: 50%;
    bottom: -2rem;
    transform: translateX(-50%);
    transition: 0.2s ease-in;
}

.card button:hover {
    box-shadow: 0 0 40px 0 rgba(82, 255, 169, 1);
}

.card__divider-desktop,
.card__divider-mobile {
    display: inline-block;
    width: 100%;
    padding-top: 14px;
    margin-bottom: 1rem;
}

.card__divider-mobile {
    display: none;
}

#card__button-icon img {
    transition: 0.2s ease-in;
}

#card__button-icon:hover img {
    transform: rotate(40deg);
}

/* Footer Styles */
.attribution {
    color: var(--light-cyan);
    text-align: center;
    margin-top: 4rem;
}

.attribution a {
    color: var(--blue);
}

/* Media Queries */
@media screen and (max-width: 560px) {
    .card {
        padding: 3rem 2rem 3rem;
    }

    .card__divider-desktop {
        display: none;
    }

    .card__divider-mobile {
        display: inline-block;
    }
}
